<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./header%>
  </head>
  <body>
    <%include ./navigation%>

    <!-- Section 1 -->
    <section id="section-1">
      <div class="container ">
        <h1 class="py1">Available Modes</h1>
        <div class="grid-1">
          <% data.forEach(function(dt) {%>
          <a href="<%=`/${dt._id}` %>"
            ><div class="item bg-primary py1">
              <h3><%= dt._id%></h3>
            </div></a
          >
          <% }) %>
        </div>
      </div>
    </section>

    <section id="technology">
      <div class="container">
        <h1 class="py1">Technology</h1>
      </div>
    </section>

    <section id="section-3">
      <div class="container">
        <h1 class="py1">About</h1>
      </div>
    </section>

    <section id="section-4">
      <div class="container">
        <h1 class="py1">Contact</h1>
      </div>
    </section>
  </body>
</html>
